<header>
    <a href="/">
      <figure>
        <img src="/img/LOGO TRANSPARENTE CON TEXTO G10.png">
      </figure>
    </a>
    <form action="/search" method="GET"> 
      <input type="text" name="keyword" id="keyword" placeholder="¿Qué torta querías?" >
      <button type="submit"> 
        <i class="fas fa-search"></i><br>
      </button>
    </form>
  
      <nav>
        <% if (user){  %> 
          <a href="/contacto">
            <i class="fas fa-comment-alt"></i><br><br>
          </a>
          
          <a href="/usuarios/profile/<%= user.id %>">
            <i class="fas fa-user"></i><br><br>
          </a>
          
          <a href='/cart'>
            <i class="fas fa-shopping-basket"></i><br><br>
          </a>
          
          <a href='/usuarios/logout'>
            <i class="fas fa-user-slash"></i><br><br>
          </a> <br><br>
          <h1>Welcome! <%= user.nombre %>
          <% if (user.esAdmin){ %>
            <a href="/productos/crear"> <i class="fas fa-pencil-alt"></i></a><br><br>
            <i class="fas fa-user-edit"></i>
            
          <% } %>           
          <% }else{ %>
            
            <a href="/usuarios/register">
              <i class="fas fa-user-plus"></i><br><br>
            </a>
  
            <a href="/contacto">
              <i class="fas fa-comment-alt"></i><br><br>
            </a>
  
            <a href="/usuarios/login">
            <i class="fas fa-user"></i></i><br><br>
            </a>
  
            <a href='/cart'>
              <i class="fas fa-shopping-basket"></i><br><br>
            </a>
            
            <% }%>

    </nav> 
  </header> 