<%- include("../includes/head") %> 

<body>
<!-- Header -->
<%- include("../includes/header") %> 
<!-- Fin del Header -->
<!-- Main -->
    <main>
<!-- Formularios -->
<form action="/usuarios/access" method="POST" class="formularioLogin">
  <fieldset class="controlFormulario">
    <!-- no ingresa el valor de usuario, entonces no sepuede buscar por nombre de usuario-->  
    <input class="control" type="text" name="email" placeholder="Ingresar Email" required>
    <% if (locals.errors && errors.email) {%>
      <p> <%= errors.email.msg %>   </p>
  <% } %>
  </fieldset>

  <fieldset class="controlFormulario">
      <input class="control" type="password" name="password" placeholder="Contraseña" required>
  </fieldset>
  <section id="contenedorBotones">
  <button class="button" type="submit">Entrar</button>
  </section>
  </form>
    </main>
<!-- Footer -->
<%- include("../includes/footer") %> 
</body>